@page
@model IndexModel
<style>
    .aboutTextCol {
        border-radius: 5px;
        border-left: 1px solid #ccff00;
    }
    .imgRounded {
        height: 500px;
        width: 500px;
        border-radius: 50%;
        object-fit: cover;
    }
    @@media (max-width: 1200px) {
        .imgRounded {
            height: 450px;
            width: 450px;
        }
    }
    @@media (max-width: 992px) {
        .imgRounded {
            height: 350px;
            width: 350px;
        }
    }
    @@media (max-width: 576px) {
        .imgRounded {
            height: 300px;
            width: 300px;
        }
    }

    @@keyframes fadeGrow {
        0% {
            transform: scale(0.9);
            opacity: 0;
        }

        100% {
            transform: scale(1);
            opacity: 1;
        }
    }
    .fadeGrow {
        animation: fadeGrow 1.5s;
    }

    @@keyframes fadeShrink {
        0% {
            transform: scale(1.1);
            opacity: 0;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }
    .fadeShrink {
        animation: fadeShrink 1.5s;
    }

    .skillsGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .skillsGrid > div {
        align-self: center;
        padding: 5%;
        display: none;
    }
</style>
<div class="row justify-content-center vh-100">
    <div class="aboutTextCol fadeGrow col-md-6 col-11 my-auto order-1 order-md-0">
        <h1>Peter Holman</h1>
        <h2>Full Stack Developer</h2>
        <p class="text-white">
            text here text here text here text here
            text here text here text here text here
            text here text here text here text here
            text here text here text here text here
            text here text here text here text here
            text here text here text here text here
            text here text here text here text here
            text here text here text here text here
            text here text here text here text here
            text here text here text here text here
            text here text here text here text here
            text here text here text here text here
        </p>
    </div>
    <div class="fadeShrink col-md-6 my-md-auto mt-auto text-center order-0 order-md-1">
        <img class="imgRounded" src="~/Images/ProfileImg.webp" alt="profileImg" />
    </div>
</div>
<div class="row vh-100">
    <div class="col-12 my-auto">
        <div class="skillsGrid text-center">
            <div class="skillsGrid-a">
                <h1>
                    <i class="fa fa-code"></i>
                </h1>
            </div>
            <div class="skillsGrid-b">
                <h1>
                    <i class="fa-brands fa-css3"></i>
                </h1>
            </div>
            <div class="skillsGrid-c">
                <h1>
                    <i class="fa-brands fa-js"></i>
                </h1>
            </div>
            <div class="skillsGrid-d">
                <h1>
                    <i class="fa-brands fa-bootstrap"></i>
                </h1>            
            </div>
            <div class="skillsGrid-e">
                <h1>
                    .NET
                </h1>
            </div>
            <div class="skillsGrid-f">
                <h1>
                    <i class="fa-solid fa-database"></i>
                </h1>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        var skillsGridItems = document.querySelectorAll(".skillsGrid div");

        skillsGridItems.forEach(function (gridItem, index) {
            setTimeout(function () {
                $(gridItem).fadeIn();
            }, index * 500);
        });
    </script>
}
